# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.GI455_Assignment_Week1.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\GI455\GI455_Assignment_Week1\.idea\.idea.GI455_Assignment_Week1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
